
  <head>
    <title>Pimienta & sal</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    
    <%- include('../partials/header.ejs') %>; 
    
    <!-- Page content -->
    <div class="ps-content">

      <!-- Menu Section -->
      <div class="ps-row ps-padding-64" id="menu">
        <div class="ps-col l6 ps-padding-large">
          
          <h1 class="ps-center"><%= productRequested.title %> </h1>
          <br />
          <h4><%= productRequested.description %> </h4>
          <p class="ps-text-grey">
            U$S <%= productRequested.price %> 
          </p>
        </div>

        <div class="ps-col l6 ps-padding-large ps-img-menu">
          <img
            src="/images/<%= productRequested.image %>"
            class="ps-round ps-image ps-opacity-min"
            alt="Menu"         
          />
        </div>
      </div>

      <!-- Footer -->
      <%- include('../partials/footer.ejs') %>;
    </div>
  </body>
</html>